[Unit]
Description=Worker Service for Hash Calculation
After=network.target

[Service]
Environment="PYTHONUNBUFFERED=1"
Environment=MORPH_API_KEY=morph_fdBw4OOQ9NwU6REhYRtmnv
ExecStart=/venv/bin/uvicorn worker:app --host 0.0.0.0 --port 5000
WorkingDirectory=/root
StandardOutput=journal
StandardError=journal
Restart=always

[Install]
WantedBy=multi-user.target