[Unit]
Description=Worker Service for Hash Calculation
After=network.target

[Service]
User=root
WorkingDirectory=/root/hashservice
Environment=PYTHONUNBUFFERED=1
Environment=PYTHONPATH=/root/hashservice
Environment=MORPH_API_KEY=morph_fdBw4OOQ9NwU6REhYRtmnv
ExecStart=/usr/bin/python3 -m uvicorn worker:app --host 0.0.0.0 --port 5000
Restart=always
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target